<!DOCTYPE HTML>
<html>
	<head>
		<title>Projet Voitures_Infos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" />
		<noscript><link rel="stylesheet" href="../static/noscript.css" /></noscript>
	</head>
	
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Voitures_Infos</h1>
								<h2>Bienvenue à Bord!</h2>
								<label id="system_time">{{system_time}}</label>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="Infos_Systeme">Système</a></li>
								<li><a href="Infos_GPS">GPS</a></li>
								<li><a href="Meteo_Complete">Météo</a></li>
								<li><a href="Prix_du_Carburant">Carburant</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
				<!-- Main -->
					
			<!-- Scripts -->
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
			<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
				var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
				// verify our websocket connection is established
    			socket.on('connect', function() {
        		console.log('Websocket connectée!');
				});

				socket.on('my_horloge', function(msg){
					console.log("Test debug Horloge: " + msg);
					$('#system_time').append(msg);
    			});
				
			});
			</script>
			


			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
			<!--<script src="../static/js/francky.js"></script>-->

	</body>
</html>